.pd-page {
    padding-top: 30px;
}
.heading-page {
    position: relative;
    text-align: center;
    padding: 0 0 30px 0;
}
.heading-page h1 {
    font-size: 30px;
    margin: 0 0 10px;
}
.heading-page:after {
    content: "";
    background: #252a2b;
    display: block;
    width: 60px;
    height: 4px;
    margin: 25px auto 0;
}
table, th, td, tr {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px !important;
}
table.table-cart {margin-bottom:30px;width: 100%;}
table.table-cart thead{display:none;}
table.table-cart tr td {padding: 20px 0;border-top: 1px solid #ededed;vertical-align: top;}
table.table-cart tr:first-child td{border-top:0;}
table.table-cart tr td.image {text-align: center; width:110px;}
table.table-cart tr td.image img {max-width:100px;}
table.table-cart tr td.item{padding-left:15px}
table.table-cart tr td.item a{text-decoration: none;}
table.table-cart tr td.item h3{margin:0 0 5px;font-size:16px;font-weight:bold;display: inline;color: black;text-decoration:none;}
table.table-cart tr td.item p {margin-bottom:5px;}
table.table-cart tr td.item p del{font-size:12px;}
table.table-cart tr td.item .price{margin:0;float: right;}
table.table-cart tr td.item .price span.text{display:none;}
table.table-cart tr td.item .price span{font-size:16px;padding-right:0;font-weight:500;}
table.table-cart tr td.item h3 {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: bold;
    display: inline;
}
table.table-cart tr td.item .variant{margin-bottom:5px;}
table.table-cart tr td.remove{text-align: right;}
@media (min-width: 768px){
table.table-cart tr td.remove {
    position: absolute;
    right: 15px;
}
}
table.table-cart tr td.remove {
    text-align: right;
}
.checkout-note textarea {
    border-radius: 0;
    -webkit-appearance: none;
    background: #ededed;
    resize: none;
    color: #050505;
    font-size: 15px;
    padding: 20px;
    outline: none;
    width: 100%;
    height: 130px;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 150ms linear;
}
p.order-infor {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    
}
.order-infor .total_price {
    font-size: 30px;
    margin-left: 7px;
}
.cart-buttons a, .cart-buttons .btn-checkout, .cart-buttons .btn-update {
    display: inline-block;
    vertical-align: top;
    padding: 19px 20px;
}
.qty-click {
    float: left;
}
.text-right {
    text-align: right;
}