.wrapper_smb {max-width: 1200px;margin: 0 auto;padding: 0 30px}
.gird_smb {margin: 0 -30px;display: flex;justify-content: end;align-items: end;flex-wrap: wrap}
.grid__item_smb {padding: 0 30px;width: 100%}
.logins {width: 70%;margin: 0 auto;margin-bottom: 50px}
.logins .logins_title {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
}
.logins .logins_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
p.logins_error {
    color: #f00;
    display: none;
}
.logins h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.logins .logins_main .login_col {
    width: 100%;
}
.logins .logins_main .login_main {
    width: 100%;
    margin-top: 25px;
}
.logins .logins_main .login_main label {
    display: flex;
    /* justify-content: end; */
    align-items: center;
}
.logins .logins_main .login_main > span {
    display: none;
    color: #f00;
    margin-bottom: 5px;
}
input#email {
    width: 100%;
    border: 1px solid #e6e6e6;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    height: 45px;
}
.logins .logins_main .login_main input {
    display: flex;
    width: 100%;
    border: solid 1px #cecbc6;
    padding-left: 20px;
    background-color: transparent;
    height: 45px;
}
.login_main_bottom {
    display: flex;
    /* justify-content: end; */
    align-items: center;
}
.login_main_bottom p {
    margin: 0;
}
button#login_submit {
    width: 200px;
    height: 45px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_main_bottom span {
    margin-left: 10px;
}
.logins_main .login_main_bottom a {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.logins_main .login_main_bottom a:hover{color: red;}
.send_mail_title h2 {
    text-align: left;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 900 !important;
    font-size: 30px;
}
.login_main label {
    width: 100%;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
}
.login_main input#send_email {
    width: 100%;
    border: solid 1px #ccc;
    height: 45px;
    padding-left: 20px;
}
button#login_submit img {
    display: none;
    width: 40px;
}